p { margin: 0; padding: 0; }
#log { font-family: Courier, monospace; background: #fee; border: 1px solid #faa; padding: 0.5em; margin-top: 1em; font-size: 85%; height: 30em; overflow: scroll; }
.description { margin-bottom: 1em; }
#start-trigger { display: block; margin-bottom: 0.5em; }
.label { display: inline-block; width: 8em; }